@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel
@{
    ViewBag.Title = "AdminHomePage";
}

<h2>Admin Home Page</h2>

<table width="100%">
    <tr>
        <td width="60%">
            <div>
                <p>
                    @Html.ActionLink("View All Bookings", "AdminAllBookingList", null, new { @class = "btn btn-warning btn-lg btn-block" })
                </p>
                <p>
                    @Html.ActionLink("Manage Users Booking", "AllBookingList", null, new { @class = "btn btn-warning btn-lg btn-block" })
                </p>
                <p>
                    @Html.ActionLink("Manage Stocks", "Index", "Stocks", null, new { @class = "btn btn-warning btn-lg btn-block" })
                </p>
                <p>
                    @Html.ActionLink("Manage Department / Faculty", "Index", "DepartmentFaculties", null, new { @class = "btn btn-warning btn-lg btn-block" })
                </p>
                <p>
                    @Html.ActionLink("Generate Report", "Report", "Booking", null, new { @class = "btn btn-warning btn-lg btn-block" })
                </p>
            </div>
        </td>
        <td width="100px"></td>
        <td width="30%">
            <script>
                var inProcess = 0;
                var rejected = 0;
                var approved = 0;
                var returned = 0;
            </script>

            @foreach (var booking in Model.Bookings)
            {


                if (@booking.BookingStatus == "In Process")
                {
                    <script>inProcess++;</script>
                }

                else if (@booking.BookingStatus == "Rejected")
                {
                    <script>rejected++;</script>
                }

                else if (@booking.BookingStatus == "Approved")
                {
                    <script>approved++;</script>
                }

                else if (@booking.BookingStatus == "Returned")
                {
                    <script>returned++;</script>
                }
            }

            <p>

                <div align="left" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">View Booking In Status</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">
                                    <script>document.write(inProcess);</script>
                                </span>
                                @Html.ActionLink("In Process Booking", "UnApprovedBookingList", null, new { @class = "btn-link" })
                            </li>
                            <li class="list-group-item">
                                <span class="badge">
                                    <script>document.write(approved);</script>
                                </span>
                                @Html.ActionLink("Approved Booking", "ApprovedBookingList", null, new { @class = "btn-link" })
                            </li>
                            <li class="list-group-item">
                                <span class="badge">
                                    <script>document.write(rejected);</script>
                                </span>
                                @Html.ActionLink("Rejected Booking", "RejectedBookingList", null, new { @class = "btn-link" })
                            </li>
                            <li class="list-group-item">
                                <span class="badge">
                                    <script>document.write(returned);</script>
                                </span>
                                @Html.ActionLink("Returned Booking", "ReturnedBookingList", null, new { @class = "btn-link" })
                            </li>
                        </ul>
                    </div>
                </div>

            </p>
        </td>
    </tr>
</table>