@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "Booking List";
}

@{
    var count = 0;
}

<script>var count = 1;</script>

<h3>Booking List for @Model.ApplicationUser.Name</h3>

<p>
    @Html.ActionLink("Create New Booking", "Create", new {id = Model.ApplicationUser.Id}, new { @class = "btn btn-primary" })
</p>

<table id="booking" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            No.
        </th>
        <th>
            Booking ID
        </th>
        <th>
            Booking Date
        </th>
        <th>
            Return Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        
    @Html.HiddenFor(model => model.BookingDate.Id, "bookingDateId")
    @foreach (var item in Model.Bookings)
    {
        <tr>
            <td>
                @{
                    count++;
                    @count
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate.BookingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate.ReturnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = Model.ApplicationUser.Id, bookingDateId = item.BookingDate.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookingDateId}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})

            </td>
        </tr>
    }
    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#booking").DataTable({
                columnDefs: [
                    { targets: 3, sortable: false }
                ],
                order: [[0, "asc"]]
            });
        });
    </script>
}