@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "IndexSortByBooking";
}

<h3>Booking List for @Model.ApplicationUser.Name</h3>

<p>
    @Html.ActionLink("Create New Booking", "Create", new {id = Model.ApplicationUser.Id}, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate.BookingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate.ReturnDateTime)
        </th>
    </tr>
    
    @Html.HiddenFor(model => model.BookingDate.Id, "bookingDateId")
    @foreach (var item in Model.BookingDates) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = Model.ApplicationUser.Id, bookingDateId = item.Id}) |
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                
            </td>
        </tr>
    }

</table>