@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.UniversityCommunity.Name, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
                <dd>@Html.DisplayFor(model => model.UniversityCommunity.Name, new { @class = "form-control" })</dd>
                @Html.ValidationMessageFor(model => model.UniversityCommunity.Name, "", new { @class = "text-danger" })
                <dt>@Html.LabelFor(model => model.BookingDate.BookingDateTime, "Booking Date", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
                <dd>@Html.TextBoxFor(model => model.BookingDate.BookingDateTime, new { @class = "form-control" })</dd>
                @Html.ValidationMessageFor(model => model.BookingDate.BookingDateTime, "", new { @class = "text-danger" })
                <dt>@Html.LabelFor(model => model.BookingDate.ReturnDateTime, "Booking Date", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
                <dd>@Html.TextBoxFor(model => model.BookingDate.ReturnDateTime, new { @class = "form-control" })</dd>
                @Html.ValidationMessageFor(model => model.BookingDate.ReturnDateTime, "", new { @class = "text-danger" })
            </dl>
           
        <div id="bookings">
            @foreach (var booking in Model.Bookings)
            {
                <!--Partial View here-->
                @Html.Partial("_BookingPartial", booking)
            }
        </div>
        
            @Html.HiddenFor(model => model.UniversityCommunity.Id)

            <button type="button" id="add">Add Booth</button>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var url = '@Url.Action("BookingPartialResult")';
            var form = $('form');
            var recipients = $('#bookings');
            $('#add').click(function() {
                $.get(url, function(response) {
                    recipients.append(response);
                    // Reparse the validator for client side validation
                    form.data('validator', null);
                    $.validator.unobtrusive.parse(form);
                });
            });

            $('#bookings').on('click', '.deleteRow', function () {
                $(this).closest('.bookings').remove();
            });
        });
    </script>
}