@using Antlr.Runtime.Tree
@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    var count = 0;
}

@{
    ViewBag.Title = "Booking List";
}

<h3>Booking List for @Model.ApplicationUser.Name</h3>

<p>
    @Html.ActionLink("Create New Booking", "Create", new {id = Model.ApplicationUser.Id}, new { @class = "btn btn-primary" })
</p>
<table id="booking" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>No.</th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate.BookingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate.ReturnDateTime)
        </th>
        <th>
            Booking Status
        </th>
        <th></th>
    </tr>
    </thead>
    
    @Html.HiddenFor(model => model.BookingDate.Id, "bookingDateId")
    @foreach (var item in Model.Bookings) {
        <tr>
            <td>
                @{
                    count++;
                    @count  
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate.BookingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate.ReturnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @if (item.BookingStatus == "Approved" || item.BookingStatus == "Rejected")
                {

                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new {id = Model.ApplicationUser.Id, bookingDateId = item.BookingDateId}, new {@class = "btn btn-primary"})
                }

                @Html.ActionLink("Details", "Details", new {id = item.BookingDateId}, new {@class = "btn btn-primary"})
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#booking").DataTable({
                columnDefs : [
                    { targets: 4, sortable: false}
                ],
                order: [[0, "asc"]]
            });
        });
    </script>
}