@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "RejectedBookingList";
}

<h2>Rejected Booking List</h2>
<br/>
<div id="approve">
    <table id ="booking" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    Approve
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
    @foreach (var booking in Model.Bookings)
    {
        <!--Partial View here-->
        @Html.Partial("_BookingApprove", booking)
    }
    </table>
</div>
    <p>
        @Html.ActionLink("Return to Home", "AdminHomePage", null, new { @class = "btn btn-primary" })
    </p>

    @section scripts
    {
        <script type="text/javascript">
            $(document).ready(function() {

                $("#booking").DataTable();

                $('#approve').on('click',
                    '.approveRow',
                    function() {

                        var container = $(this).closest('.approve');
                        var bookingId = container.find('.bookingId').val();

                        if (bookingId) {
                            var answer = confirm("Approve Booking?");
                            if (answer) {
                                $.ajax({
                                    type: "PUT",
                                    url: "@Url.Action("ApproveBooking", "Booking")",
                                    ajaxsync: true,
                                    data: { bookingId: bookingId },
                                    success: function() {
                                        alert("Booking Approved");
                                        location.reload();
                                    },
                                    error: function(data) {
                                        alert("Approval Failed");
                                    }
                                });
                            } else {
                                e.preventDefault();
                            }
                        }

                    });

                $('#approve').on('click',
                    '.disapproveRow',
                    function() {

                        var container = $(this).closest('.approve');
                        var bookingId = container.find('.bookingId').val();

                        if (bookingId) {
                            var answer = confirm("Reject Booking?");

                            if (answer) {
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("RejectBooking", "Booking")",
                                    ajaxsync: true,
                                    data: { bookingId: bookingId },
                                    success: function() {
                                        alert("Booking has been rejected");
                                        location.reload();
                                    },
                                    error: function(data) {
                                        alert("Rejection Failed");
                                    }
                                });
                            } else {
                                e.preventDefault();
                            }
                        }

                    });


            });


        </script>

    }
