@model IEnumerable<ArgicultureInventorySystem.Models.UniversityCommunity>

@{
    ViewBag.Title = "Index";
}

<h2>Booking List</h2>

<p>
   
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("View Bookings", "Index", "Booking", new { id=item.Id }, null)
            </td>
        </tr>
    }

</table>
