@using System.Diagnostics.PerformanceData
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using HtmlHelpers.BeginCollectionItem
@model ArgicultureInventorySystem.Models.Booking
    

<div class="bookings">
    @using (Html.BeginCollectionItem("bookings"))
    {
        <table class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>Stock Name :</b>
                    @Html.DropDownListFor(m => m.StockId, ((IEnumerable<SelectListItem>)ViewBag.LoadStocks), "--Select Stock--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.StockId)
                </td>
                <td>
                    <b>Booking Quantity :</b>
                    @Html.TextBoxFor(b => b.BookingQuantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.BookingQuantity)
                </td>
                <td>
                    <b>Booking Notes :</b>
                    @Html.TextBoxFor(b => b.BookingNotes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.BookingNotes)
                </td>
                <td>
                    @Html.HiddenFor(model => model.BookingId)
                    @Html.HiddenFor(b => b.BookingDateId, new { @class = "id" })
                    @Html.HiddenFor(b => b.StockId, new { @class = "stockId" })
                    @Html.HiddenFor(b => b.UserId, new { @class = "ucId" })
                    <br />
                    <div style="text-align: center"><a href="#" id="Delete" class="deleteRow"><button type="button" class="btn btn-danger">X</button></a></div>
                </td>
            </tr>
        </table>

        @Html.HiddenFor(model => model.BookingDateId)

    }
</div>