@using System.Diagnostics.PerformanceData
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using HtmlHelpers.BeginCollectionItem
@model ArgicultureInventorySystem.Models.Booking


<div class="approve">
    @using (Html.BeginCollectionItem("approve"))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ApplicationUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.BookingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.BookingDate.BookingDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.BookingDate.ReturnDateTime)
        </td>

        @if (ViewBag.Title != "ReturnedBookingList")
    {
        <td align="center">
            <div class="approve">
                @if (ViewBag.Title == "ApprovedBookingList")
            {
                <a href="#" id="Approve" class="returnRow"><button type="button" class="btn btn-success">↻</button></a>
        }

                @if (ViewBag.Title != "ApprovedBookingList")
            {
                <a href="#" id="Approve" class="approveRow"><button type="button" class="btn btn-primary">✓</button></a>
        }


                @if (ViewBag.Title != "RejectedBookingList")
            {
                <a href="#" id="Approve" class="disapproveRow"><button type="button" class="btn btn-danger">X</button></a>
        }

                @Html.HiddenFor(modelItem => modelItem.BookingDateId, new { @class = "bookingId" })
            </div>
        </td>
}
        <td>
            @Html.ActionLink("View Booking Details", "Details", "Booking", new { id = Model.BookingDateId }, new { @class = "btn btn-primary" })
            <!--TODO: redirect view booking to specific list of booking for the booking id, create new controller?-->
        </td>
    </tr>
    }
</div>