@using System.Diagnostics.PerformanceData
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using HtmlHelpers.BeginCollectionItem
@model ArgicultureInventorySystem.Models.Booking
    

<div class="bookings">
    @using (Html.BeginCollectionItem("bookings"))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(b => b.StockId)
                    @Html.DropDownListFor(m => m.StockId, ((IEnumerable<SelectListItem>)ViewBag.LoadStocks), "--Select Stock--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.StockId)
                </td>
                <td>
                    @Html.LabelFor(b => b.BookingQuantity)
                    @Html.TextBoxFor(b => b.BookingQuantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.BookingQuantity)
                </td>
                <td>
                    @Html.LabelFor(b => b.BookingNotes)
                    @Html.TextBoxFor(b => b.BookingNotes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.BookingNotes)
                </td>
                <td>
                    @Html.HiddenFor(b => b.BookingDateId, new {@class="id"})
                    @Html.HiddenFor(b => b.StockId, new { @class = "stockId" })
                    @Html.HiddenFor(b => b.UniversityCommunityId, new { @class = "ucId" })
                    <a href="#" id="Delete" class="deleteRow">X</a>

                </td>
            </tr>

        </table>

        @Html.HiddenFor(model => model.BookingDateId)

    }
</div>