@model ArgicultureInventorySystem.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>View Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type.StockTypeAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.StockTypeAssigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalQuantity) @Html.DisplayFor(model => model.Measurement.MeasurementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQuantity) @Html.DisplayFor(model => model.Measurement.MeasurementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityInCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityInCard) @Html.DisplayFor(model => model.Measurement.MeasurementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Stock", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    
    <p>
        <ul class="pager">
            <li>@Html.ActionLink(" << Back", "Index")</li>
        </ul>
        
    </p>
    
</p>
