@model IEnumerable<ArgicultureInventorySystem.Models.Stock>

@{
    ViewBag.Title = "Stock List";
}


@{
    var count = 0;
}

<h2>Stock List</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Stocks", null, new { @class = "btn btn-primary" })
</p>
<table id ="stocks" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            No.
        </th>
        <th>
            Stock Name
        </th>
        <th>
            Stock Type
        </th>
        <th>
            Original Quantity
        </th>
        <th>
            CurrentQuantity
        </th>
        <th>
            Note
        </th>
        <th>
            Manage
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @{
                    count++;
                    @count
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.StockTypeAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                <button data-customer-id="@item.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#stocks").DataTable({
                columnDefs : [
                    { targets: 6, sortable: false}
                ],
                order: [[0, "asc"]]
            });


            $("#stocks").on("click", ".js-delete", function() {
                var button = $(this);

                bootbox.confirm("Are you sure?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/stocks/" + $(this).attr("data-customer-id"),
                                method: "DELETE",
                                success: function() {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });
            });
        });

    </script>
}
