@model IEnumerable<ArgicultureInventorySystem.Models.Stock>

@{
    ViewBag.Title = "Stock List";
}


@{
    var count = 0;
}

<h2>Stock List</h2>

<p>
    @Html.ActionLink("Create New Stock", "Create", "Stocks", null, new { @class = "btn btn-primary" })
    <div align="right">
        <h4>Filter Stock Type:</h4>
        @Html.ActionLink("All", "Index", "Stocks", null, new { @class = "btn btn-success btn-sm" })
        @Html.ActionLink("Pesticide", "GetStockPesticide", "Stocks", null, new { @class = "btn btn-success btn-sm" })
        @Html.ActionLink("Fertilizer", "GetStockFertilizer", "Stocks", null, new { @class = "btn btn-success btn-sm" })
        @Html.ActionLink("Tools", "GetStockTool", "Stocks", null, new { @class = "btn btn-success btn-sm" })
    </div>
</p>
<table id="stocks" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Name
            </th>
            <th>
                Original Qty
            </th>
            <th>
                Current Qty
            </th>
            <th>
                Qty in Card
            </th>
            <th>
                Type
            </th>
            <th>
                Measurement / Note
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="bookings">
                <td>
                    @{
                        count++;
                        @count
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityInCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.StockTypeAssigned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Measurement.MeasurementType) / @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td align="center">
                    @Html.ActionLink("✍", "Edit", new { id = item.Id }, new { @class = "btn btn-primary", title="Edit Stock Information" })
                    @Html.ActionLink(". . .", "Details", new { id = item.Id }, new { @class = "btn btn-info", title="View Stock Details" })
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "bookingDateId" })
                    <a href="#" title="Delete Stock" class="btn btn-danger deleteBooking">✘</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pager">
    <li>@Html.ActionLink("<< Back", "AdminHomePage", "Booking", null, new { @class = "btn btn-default" })</li>
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#stocks").DataTable({
                columnDefs : [
                    { targets: 7, sortable: false}
                ],
                order: [[0, "asc"]]
            });


            $("#stocks").on("click", ".deleteBooking", function () {

                var container = $(this).closest('#bookings');
                var id = container.find('.bookingDateId').val();

                if (id) {
                    bootbox.confirm("Delete Stock?", function(result) {
                        if (result) {
                            $.ajax(
                                {
                                    type: "DELETE",
                                    url: "@Url.Action("DeleteByStockId" , "Stocks")",
                                    ajaxsync: true,
                                    data: { stockId: id },
                                    success: function() {
                                        bootbox.alert("Stock deleted successfully", function () {
                                            container.fadeOut(500,
                                                function() {
                                                    container.remove();
                                                });
                                        });
                                    },
                                    error: function(data) {
                                        bootbox.alert("fail");
                                    }
                                });
                        }
                    });
                }
            });
        });

    </script>

    @if (TempData["EditSuccessful"] != null)
    {
        <script type="text/javascript">
            $(function() {
                bootbox.alert("@TempData["EditSuccessful"]");
            });
        </script>
    }
}

Changes from rayearly2