@model IEnumerable<ArgicultureInventorySystem.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.StockTypeAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.StockTypeAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
